.login
    position: relative
    display: flex
    min-height: 100vh
    max-width: 1200px
    margin: 0 auto

.loginImages
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 100px
    flex: 1 1
    @media (max-width: 992px)
        display: none
.logo
    margin-bottom: 100px
    width: 400px
    height: 400px
.text
    margin-bottom: 100px

.btn:active
    box-shadow: none

.LoginPanel
    display: flex
    flex-direction: column
    flex: 1 1
    justify-content: center

.fbLogoWith992
    display: none
    @media (max-width: 992px)
        display: flex
        justify-content: center

.LogInItem
    display: flex
    justify-content: center
    align-items: center
    flex: 1 1
.LogInWithServices
    display: flex
    flex-direction: column
    align-items: center
    flex: 1 1
    justify-content: center
    padding-top: 40px

.LogInWithServicesText
    font-weight: 600
    font-size: 20px
    color: dimgray
    padding-left: 5px
.LogInWithServicesLinks
    display: flex
.LogInWithServicesItem
    padding-top: 10px
    padding-left: 10px
    button
        border: none
        cursor: pointer
        outline: none
        img
            width: 60px
            height: 60px

.createNewAccountBtn
    text-align: center
    padding-top: 40px
    a
        text-decoration: none
        padding: 14px 18px
        outline: none
        background: #42b72a
        border: none
        border-radius: 6px
        color: white
        font-weight: 600
        font-size: 18px
        &:hover
            cursor: pointer
            background: #3d9635
            transition: linear .15s


.popUpExitActive
    opacity: 0
    transition: opacity 300ms

.popUpEnter
    opacity: 0.02
    transition: opacity 300ms

.popUpEnterActive
    opacity: 1

.errorMsgExitActive
    opacity: 0
    transition: opacity 700ms
.errorMsgEnter
    opacity: 0.02
    transition: opacity 700ms
.errorMsgEnterActive
    opacity: 1